.sidebar-item.sidebar-item--subscribe
	h6 Рассылка газеты на email
	form(id="form-wysija-html54f886991fb03-1" method="post" action="#wysija" class="widget_wysija html_wysija")
		input(type="text" name="wysija[user][email]" class="wysija-input validate[required,custom[email]]" title="Адрес электронной почты" value="" placeholder="Введите ваш E-mail")
		input(class="wysija-submit wysija-submit-field" type="submit" value="")
// .sidebar-item.sidebar-item--subscribe
.sidebar-item.sidebar-item--info
	p
		img(src="img/logo-maximc.jpg", alt="")
	a(href="") 
		p Тотальный диктант
	a(href="") 
		img(src="img/info-1.jpg", alt="")
		p Семейный русскоязычный лагерь ассоциации «Самокат»
	a(href="")
		p Выставка А. Б Серебрякова
	a(href="") 
		img(src="img/info-2.jpg", alt="")
		p Пятничные встречи молодежнойассоциации Корсунь
	a(href="")
		p Ателье русской кухни для взрослых
	a(href="") 
		img(src="img/info-3.jpg", alt="")
		p Изучение русского языка в международном колледже ЖозефаВернье
	a(href="") 
		img(src="img/info-4.jpg", alt="")
		p Лебединое озеро
// .sidebar-item.sidebar-item--info
.sidebar-item.sidebar-item--short
	h6 Короткой строкой
	a(href="") 
		p Красивые, но опасные: что нужно знать, даря цветы в День святого Валентина
	a(href="") 
		p Соболезнование в связи со смертью последнего пилота авиаполка «Нормандия — Неман» Гаэля Табюре
	a(href="")
		p Горячий суп в холодном городе
	a(href="") 
		p Губернатор С.Орлова и ансамбль «Русь» поют в Париже
// .sidebar-item.sidebar-item--short
.sidebar-item.sidebar-item--iar
	p
		img(src="img/iar.jpg", alt="")
	a(href="") 
		p Российские саперы завершили разминирование Алеппо
	a(href="") 
		p Кремль объяснил признание паспортов ЛНРи ДНР гуманитарными соображениями
	a(href="")
		p Мужчина взял в заложники свою семью на юго-западе Москвы
	a(href="") 
		p Песков: слова прокурора Черногории о подготовке Москвой переворота безответственны
// .sidebar-item.sidebar-item--iar
.sidebar-item-img
	img(src="img/tv.jpg", alt="")
// .sidebar-item-img
.sidebar-item.sidebar-item--weather
	h6 Погода
// .sidebar-item.sidebar-item--weather
.sidebar-item.sidebar-item--currency
	h6 Курсы валют
// .sidebar-item.sidebar-item--currency
.sidebar-item-img
	a(href="")
		img(src="img/canal.jpg", alt="")
// .sidebar-item-img
.sidebar-soc
	#vk_groups
// .sidebar-soc
.sidebar-item.sidebar-item--rel
	h6 Ищу родных
	p
		a(href="") Николай Иванович Кротков
	p
		a(href="") Чудин Григорий Куприянович
	p
		a(href="") Сероокий (Сироокий) Федор Андреевич
// .sidebar-item.sidebar-item--rel
.sidebar-item-img
	a(href="")
		img(src="img/liberation.jpg", alt="")
// .sidebar-item-img
.sidebar-soc
	.sidebar-soc-fb
		#fb-root
		.fb-page(data-href="https://www.facebook.com/rusoch.fr" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true")
			blockquote(cite="https://www.facebook.com/rusoch.fr" class="fb-xfbml-parse-ignore")
				a(href="https://www.facebook.com/rusoch.fr") Facebook
// .sidebar-soc
.sidebar-item-img
	a(href="")
		img(src="img/le-monde.jpg", alt="")
// .sidebar-item-img
.sidebar-item-img
	a(href="")
		img(src="img/la-tribune.jpg", alt="")
// .sidebar-item-img
