extends template.jade

block content
	.wrapper
		.ro-content
			.breadcrumbs Главная  »  Новости
			.ro-content-left
				h1 Как профессия французского полицейского перестала быть «благородной»
			// .ro-content-left
			.ro-content-right
				include incl-sidebar.jade
			// .ro-content-right
		// .ro-content
	// .wrapper
