$violet: #5016a6;
$violethover: #783ccf;
$brown: #663b1a;

html {
	height: 100vh;
}
body {
	color: #000;
	width: 100%;
	height: 100vh;
	font: 400 16px/1.38 Georgia, serif;
	@media (min-width: 768px) and (max-width: 1023px) {
		background-color: #fafafa;
	}
}
.wrapper {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.main-content {
	min-height: -webkit-calc(100vh - 350px);
	min-height: -moz-calc(100vh - 350px);
	min-height: calc(100vh - 350px);
	position: relative;
	width: 100%;
	box-sizing: border-box;
}

@media (min-width: 1200px) {
	.main-content {
		min-width: 1180px;
	}
}
h1,
h2,
h3,
h4,
p {
	margin: 0;
	padding: 0;
}
p {
	line-height: 1.5;
	margin-bottom: 24px;
}
h1 {
	font-family: Lora, serif;
	line-height: 1.3;
	margin-bottom: 20px;
	font-size: 18px;
	@media (min-width: 768px) and (max-width: 1023px) {
		font-size: 26px;
	}
	@media (min-width: 1024px) {
		font-size: 28px;
	}
}
h2 {
	font-size: 32px;
	line-height: 1.31;
	color: #000;
	margin-bottom: 10px;
}
h1,
h2 {
	font-weight: 700;
}
h3,
h4 {
	font-weight: 400;
	margin-bottom: 10px;
}
h3 {
	margin: 48px 0 24px;
	font-weight: 700;
	@media (max-width: 767px) {
		font-size: 16px;
	}
	@media (min-width: 768px) {
		font-size: 18px;
	}
}
h4 {
	font-size: 18px;
	margin: 48px 0 24px;
	font-weight: 700;
}
h5 {
	font-size: 12px;
	color: $brown;
	text-transform: uppercase;
}
a {
	color: $violet;
	text-decoration: none;
}
header {
	background: url(img/header-bg.png) repeat-x;
	@media (max-width: 768px) {
		margin-bottom: 35px;
	}
	@media (min-width: 1200px) {
		margin-bottom: 50px;
	}
}
.header-info {
	height: 176px;
	background: url(img/header.jpg) 50% 0 no-repeat;
	background-size: cover;
	max-width: 1440px;
	margin: 0 auto;
	padding: 20px 24px;
	box-sizing: border-box;
	@media (max-width: 767px) {
		padding-top: 35px;
		height: 134px;
	}
	h1 {
		font-size: 30px;
		color: #fff;
		letter-spacing: 1.2px;
		line-height: 1.3;
		font-weight: 400;
		text-transform: uppercase;
		position: relative;
		margin-bottom: 0;
		max-width: 460px;
		width: 100%;
		clear: both;
		@media (max-width: 767px) {
			font-size: 23px;
			text-align: center;
			margin: 0 auto;
		}
		@media (min-width: 768px) {
			left: 50%;
			-webkit-transform: translate(-49.5%, -17px);
			transform: translate(-49.5%, -17px);
		}
		.fr {
			@media (max-width: 767px) {
				font-size: 17px;
				padding-left: 25px;
				letter-spacing: 2.5px;
			}
			display: block;
			font-size: 24px;
			letter-spacing: 3.7px;
			margin-bottom: 3px;
			padding-left: 50px;
		}
		.ru {
			@media (max-width: 767px) {
				font-size: 9px;
				letter-spacing: 1.8px;
				padding-left: 55px;
				white-space: nowrap;				
			}
			display: block;
			text-transform: none;
			font-size: 14px;
			padding-left: 100px;
			color: #cbcbcb;
			letter-spacing: 2.8px;
		}
	}
}
.header-info-social {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	float: left;
	height: 30px;
	&--desktop {
		@media (max-width: 1199px) {
			display: none;
		}
	}
	&--mobile {
		@media (max-width: 767px) {
			margin: 15px 0 30px;
		}
		@media (min-width: 768px) and (max-width: 1199px) {
			margin: 15px 0 30px -20px;
		}
		@media (min-width: 1200px) {
			display: none;
		}
	}
}
.header-social-item {
	width: 28px;
	height: 30px;
	padding: 0 16px;
	background: url(img/header-line.svg) 100% 0 no-repeat;
	position: relative;
	&:last-child {
		background: none; 
	}
	&:before {
		content: '';
		position: absolute;
		width: 28px;
		height: 30px;
		top: 0;
		left: 50%;
		margin-left: -14px;
	}
	&--fb {
		&:before {
			background: url(img/icon-fb.svg) 50% 50% no-repeat;
		}
	}
	&--tw {
		&:before {
			background: url(img/icon-tw.svg) 50% 50% no-repeat;
		}
	}
	&--vk {
		&:before {
			background: url(img/icon-vk.svg) 50% 50% no-repeat;
		}
	}
	&--tg {
		&:before {
			background: url(img/icon-tg.svg) 50% 50% no-repeat;
		}
	}
	&--yt {
		&:before {
			background: url(img/icon-yt.svg) 50% 50% no-repeat;
		}
	}
}
.tablet-menu-btn {
	@media (max-width: 767px) {
		display: none;
	}
	@media (min-width: 768px) and (max-width: 1199px) {
		color: #fff;
		font-size: 14px;
		line-height: 23px;
		position: relative;
		padding-left: 55px;
		float: left;
		&:before {
			content: '';
			position: absolute;
			width: 40px;
			height: 23px;
			left: 0;
			background: url(img/menu-mobile.png) 0 0 no-repeat;
		}
	}
	@media (min-width: 1200px) {
		display: none;
	}
}
.header-lang-search {
	float: right;
	@media (max-width: 767px) {
		display: none;
	}
	span {
		display: block;
		margin-top: 5px;
		width: 25px;
		height: 25px;
		cursor: pointer;
		border: 0;
		background: url(img/icon-search.svg) 0 0 no-repeat;
		@media (max-width: 1199px) {
			display: none;
		}
	}
}
.header-lang {
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	margin: 0 6px 0 57px;
	float: right;
}
.header-lang-item {
	text-align: center;
	color: #fff;
	display: inline-block;
	&.active {
		background-color: $violet;
		color: #fff;
	}
	@media (max-width: 767px) {
		width: 30px;
		height: 30px;
		line-height: 30px;
		font-size: 14px;
		color: $violet;
		text-transform: uppercase;
	}
	@media (min-width: 768px) {
		margin-left: 10px;
		width: 38px;
		height: 38px;
		line-height: 38px;
	}
}
.header-search {
	position: absolute;
	max-width: 1360px;
	z-index: 1;
	display: none;
	@media (max-width: 767px) {
		right: 20px;
		left: 20px;
		top: 150px;
	}
	@media (min-width: 768px) and (max-width: 1199px) {
		right: 20px;
		left: 20px;
		top: 190px;
	}
	@media (min-width: 1200px) {
		top: 20px;
		right: 40px;
		left: 40px;
	}
	@media (min-width: 1400px) {
		left: 50%;
		width: 100%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	input[type=search] {
		width: 100%;
		max-width: 1360px;
		padding: 0 20px;
		font-size: 14px;
		color: $violet;
		box-sizing: border-box;
		font-family: Georgia;
		@media (max-width: 1199px) {
			height: 40px;
			background-color: $violet;
			border: 0;
		}
		@media (min-width: 1200px) {
			height: 53px;
		}
	}
	@media (max-width: 1199px) {
		input[type=search]::-webkit-input-placeholder { 
			color: #fff;
		}
		input[type=search]::-moz-placeholder {
			color: #fff;
		}
		input[type=search]:-ms-input-placeholder { 
			color: #fff;
		}
		input[type=search]:-moz-placeholder { 
			color: #fff;
		}
	}
	@media (min-width: 1200px) {
		input[type=search]::-webkit-input-placeholder { 
			color: $violet;
		}
		input[type=search]::-moz-placeholder {
			color: $violet;
		}
		input[type=search]:-ms-input-placeholder { 
			color: $violet;
		}
		input[type=search]:-moz-placeholder { 
			color: $violet;
		}
	}
	input[type=submit] {
		width: 44px;
		height: 40px;
		cursor: pointer;
		border: 0;
		position: absolute;
		right: 0;
		top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		background-size: 24px 26px;
		@media (max-width: 1199px) {
			background: url(img/icon-search.svg) 50% 50% no-repeat;
			background-size: 24px 26px;
			border-left: 1px solid #fff;
		}
		@media (min-width: 1200px) {
			background: url(img/icon-search-violet.svg) 0 50% no-repeat;
			background-size: 24px 26px;
		}
		&:focus {
			outline: none;
		}
	}
}
.mobile-header-info {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-align-items: center;
	align-items: center;
	padding: 20px;
	position: relative;
	@media (max-width: 767px) {
		-webkit-justify-content: space-between;
		justify-content: space-between;
		background-color: #fff;
	}
	@media (min-width: 768px) and (max-width: 1023px) {
		background-color: #fafafa;
	}
	@media (min-width: 768px) and (max-width: 1199px) {
		-webkit-justify-content: flex-end;
		justify-content: flex-end;
	}
	@media (max-width: 767px) {
		&:after {
			content: '';
			position: absolute;
			right: 20px;
			left: 20px;
			bottom: -5px;
			height: 5px;
			background: url(img/border.gif) 0 100% repeat-x;
		}
	}
	@media (min-width: 1200px) {
		display: none;
	}
	.header-lang-item {
		@media (min-width: 768px) and (max-width: 1199px) {
			display: none;
		}
	}
}
.mobile-menu-btn {
	color: $violet;
	font-size: 14px;
	line-height: 23px;
	position: relative;
	padding-left: 55px;
	&:before {
		content: '';
		position: absolute;
		width: 40px;
		height: 23px;
		left: 0;
		background: url(img/menu-mobile.png) 0 0 no-repeat;
	}
	@media (min-width: 768px) and (max-width: 1023px) {
		display: none;
	}
	@media (min-width: 1024px) {
		display: none;
	}
}
.mobile-header-lang {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	span {
		background: url(img/icon-search-violet.svg) 0 0 no-repeat;
		width: 25px;
		height: 25px;
		display: inline-block;
		cursor: pointer;
		margin-left: 10px;
	}
}
.header-lang-item {
	margin-left: 10px;
}
.menu {
	position: relative;
	@media (max-width: 767px) {
		top: 134px;
	}
	@media (min-width: 768px) and (max-width: 1199px) {
		top: 0;
	}
	@media (max-width: 1199px) {
		display: none;
		position: absolute;
		z-index: 1;
		width: 100%;
		background-color: $violet;
	}
	@media (min-width: 1200px) {
		display: block;
	}
	&:after {
		@media (min-width: 1200px) {
			content: '';
			position: absolute;
			right: 0;
			left: 0;
			background: url(img/border.gif) repeat-x;
			height: 5px;
			bottom: 0;
		}
	}
}
.menu-close {
	@media (max-width: 1199px) {
		background-color: $violet;
		color: #fff;
		position: relative;
		padding: 15px 20px 15px 60px;
		height: 25px;
		line-height: 25px;
		&:before {
			content: '';
			position: absolute;
			width: 25px;
			height: 25px;
			left: 20px;
			background: url(img/menu-close.svg) 0 0 no-repeat;
		}
	}
	@media (min-width: 1200px) {
		display: none;
	}
}
.menu-1level {
	@media (min-width: 768px) and (max-width: 1199px) {
		float: left;
		width: 50%;
		padding: 0 40px 30px;
		box-sizing: border-box;
		border-right: 1px solid #fff;
		margin-right: 50px;
	}
	@media (max-width: 1200px) {
		-webkit-flex-flow: column wrap;
		-ms-flex-flow: column wrap;
		flex-flow: column wrap;
		background-color: $violet;
	}
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	position: relative;
	max-width: 1240px;
	margin: 0 auto;
	>li {
		list-style: none;
		font-size: 14px;
		position: relative;
		&:after {
			content: '';
			height: 5px;
			position: absolute;
			background-color: transparent;
			bottom: 0;
			left: 0;
			z-index: 1;
			width: 100%;
		}
		&.active {
			&:after {
				background-color: $violet;
			}
		}
		>a {
			text-transform: uppercase;
			display: block;
			padding: 15px 24px 15px 20px;
			color: #fff;
			@media (min-width: 1200px) {
				color: #000;
				padding: 30px 24px 33px 20px;
			}
		}
		&.sub-menu {
			position: relative;
			@media (min-width: 1200px) {
				border-right: 1px solid #fff;
				border-left: 1px solid #fff;
			}
			&:hover {
				border-right: 1px solid $violet;
				border-left: 1px solid $violet;
				&:before {
					-webkit-transform: rotate(0deg);
					transform: rotate(0deg);
				}
				&:after {
					@media (min-width: 1200px) {
						background-color: #fff;
					}
				}
				.menu-2level {
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
				}
			}
			&:before {
				content: '';
				position: absolute;
				width: 14px;
				height: 8px;
				top: 18px;
				right: 20px;
				background: url(img/sub-menu-white.svg) 0 0 no-repeat;
				@media (min-width: 1200px) {
					right: 5px;
					-webkit-transform: rotate(-180deg);
					transform: rotate(-180deg);
					top: 35px;
					background: url(img/sub-menu.svg) 0 0 no-repeat;
				}
			}
			&:after {
				content: '';
				position: absolute;
				z-index: 2;
				height: 1px;
				bottom: 4px;
				background-color: transparent;
			}
		}
	}
	.menu-2level {
		display: none;
		z-index: 2;
		-webkit-flex-flow: column wrap;
		-ms-flex-flow: column wrap;
		flex-flow: column wrap;
		margin: 0;
		padding: 0;
		@media (max-width: 1199px) {
			background-color: #6e30c8;
			margin: 20px;
			padding: 13px 0;
		}
		@media (min-width: 1200px) {
			background-color: #fff;
			border: 1px solid $violet;
			left: -1px;
			top: 77px;
			width: 280px;
			position: absolute;
		}
		>li {
			list-style: none;
			>a {
				text-transform: uppercase;
				display: block;
				font-size: 14px;
				line-height: 1;
				padding: 17px 30px;
				@media (max-width: 1199px) {
					color: #fff;
				}
				@media (min-width: 1200px) {
					border-top: 1px solid #efefef;
				}
			}
			&:first-child > a {
				border-top: 0;
			}
			&.sub-menu {
				position: relative;
				&:before {
					content: '';
					position: absolute;
					right: 20px;
					width: 14px;
					height: 8px;
					top: 21px;
					background: url(img/sub-menu-white.svg) 0 0 no-repeat;
					@media (min-width: 1024px) {
						-webkit-transform: rotate(-180deg);
						transform: rotate(-180deg);
						background: url(img/sub-menu.svg) 0 0 no-repeat;
					}
				}
				&:hover {
					&:before {
						-webkit-transform: rotate(0deg);
						transform: rotate(0deg);
					}
					.menu-3level {
						display: -webkit-flex;
						display: -moz-flex;
						display: -ms-flex;
						display: -o-flex;
						display: flex;
					}
				}
			}
		}
	}
	.menu-3level {
		display: none;
		-webkit-flex-flow: column wrap;
		-ms-flex-flow: column wrap;
		flex-flow: column wrap;
		margin: 0;
		padding: 0;
		>li {
			list-style: none;
			>a {
				text-transform: none;
				display: block;
				font-size: 14px;
				line-height: 1;
				position: relative;
				@media (max-width: 1199px) {
					color: #fff;
					padding: 17px 30px;
				}
				@media (min-width: 1200px) {
					padding: 17px 38px;
				}
				@media (min-width: 1200px) {
					background-color: #fefefe;
					border-top: 1px solid #efefef;
				}
				&:before {
					-webkit-transition: all .2s linear;
					transition: all .2s linear;
					content: '';
					width: 6px;
					position: absolute;
					left: 0;
					top: 0;
					height: 100%;
				}
				&:hover:before {
					-webkit-transition: all .2s linear;
					transition: all .2s linear;
					background-color: $violet;
				}
			}
		}
	}
}
.ro-content {
	margin-bottom: 50px;
	overflow: hidden;
	box-sizing: border-box;
	padding: 0 20px;
	h2 {
		font-family: Lora;
		width: 100%;
		position: relative;
		padding-bottom: 13px;
		@media (max-width: 767px) {
			font-size: 24px;
			margin-bottom: 15px;
			&:after {
				height: 2px;
				left: 0;
				right: 0;
				background-color: $violet;
			}
		}
		@media (min-width: 768px) {
			font-size: 28px;
			&:after {
				left: 0;
				right: 335px;
				background: url(img/border-gray.gif) repeat-x;
				height: 6px;
			}
		}
		@media (min-width: 1024px) {
			&:after {
				background-image: url(img/border.gif);
			}
		}
		&:after {
			content: '';
			bottom: 0;
			position: absolute;
		}
	}
	@media (min-width: 1250px) {
		padding: 0;
	}
}
.ro-content-mobile {
	@media (max-width: 767px) {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
	}
}

.ro-content-left {
	h2 {
		&:after, 
		&:before {
			right: 0;
		}
	}
	@media (max-width: 767px) {
		-webkit-order: 1;
		-ms-order: 1;
		order: 1;
	}
	@media (min-width: 768px) {
		padding-right: 335px;
		box-sizing: border-box;
	}
}
.ro-content-inner-left {
	h2 {
		&:after, 
		&:before {
			right: 0;
		}
	}
	@media (max-width: 767px) {
		-webkit-order: 1;
		-ms-order: 1;
		order: 1;
		width: 100%;
	}
	@media (min-width: 768px) {
		padding-right: 335px;
		box-sizing: border-box;
	}
}
.ro-content-right {
	@media (max-width: 479px) {
		max-width: 280px;
		margin: 0 auto;
	}
	@media (min-width: 480px) and (max-width: 767px) {
		margin: 0 auto;
		max-width: 500px;
	}
	@media (max-width: 778px) {
		-webkit-order: 2;
		-ms-order: 2;
		order: 2;
	}
	@media (min-width: 768px) {
		width: 290px;
		float: right;
	}
	img {
		max-width: 100%;
	}
}
.news {
	margin-bottom: 48px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	@media (max-width: 767px) {
		background: url(img/border.gif) 0 100% repeat-x;
	}
	&__info {
		box-sizing: border-box;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		@media (max-width: 767px) {
			padding: 16px 0;
			-webkit-flex-flow: row wrap;
			-ms-flex-flow: row wrap;
			flex-flow: row wrap;
			border-bottom: 1px solid #efefef;
		}
		@media (min-width: 768px) and (max-width: 1023px) {
			padding: 16px 0;
			-webkit-flex-flow: row wrap;
			-ms-flex-flow: row wrap;
			flex-flow: row wrap;
			border-bottom: 1px solid #cacaca;
		}
		@media (min-width: 1024px) {
			padding: 10px;
			box-shadow: inset 0 0 0 1px #efefef;
			-webkit-flex-flow: column wrap; 
			-ms-flex-flow: column wrap; 
			flex-flow: column wrap; 
		}
		p {
			font-weight: 700;
			line-height: 1.3;
			overflow: hidden;
			color: #000;
			@media (max-width: 1023px) {
				font-size: 15.5px;
				width: 100%;
				margin-bottom: 15px;
			}
			@media (min-width: 1024px) {
				height: 72px;
				margin-bottom: 9px;
				font-size: 14px;
			}
		}
		.date {
			font-size: 12px;
			color: #94a5aa;
			@media (max-width: 1199px) {
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				-webkit-order: 4;
				-ms-order: 4;
				order: 4;
			}
		}
	}
	&__item {
		@media (max-width: 1023px) {
			width: 100%;
		}
		&:last-child {
			.news__info {
				@media (max-width: 767px) {
					border: 0;
				}
			}
		}
		@media (min-width: 1024px) {
			margin-top: 11px;
			max-width: 213px;
			width: 23.8%;
			margin-right: 1.6%;
		}
		&:nth-child(5),
		&:nth-child(9) {
			margin-right: 0;
		}
		h5 {
			color: $brown;
			@media (max-width: 1023px) {
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				-webkit-order: 3;
				-ms-order: 3;
				order: 3;
				font-size: 10.5px;
				margin: 0 18px 0 0;
			}
			@media (min-width: 1024px) {
				font-size: 12px;
				margin: 0 0 10px;
			}
		}
		&:first-child {
			width: 100%;
			max-width: none;
			position: relative;
			border: 0;
			margin-right: 0;
			margin-top: 0;
			img {
				@media (max-width: 1199px) {
					display: block;
				}
			}
			.news__info {
				box-sizing: border-box;
				box-shadow: none;
				width: 100%;
				@media (min-width: 1024px) {
					background-color: rgba(0,0,0,.5);
					color: #fff;
					padding: 10px 23px;
					position: absolute;
					left: 0;
					bottom: 0;
				}
			}
			.razdel {
				@media (max-width: 1023px) {
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					-webkit-order: 3;
					-ms-order: 3;
					order: 3;
					text-transform: uppercase;
					font-size: 10.5px;
					font-weight: 700;
					margin-right: 15px;
					color: $brown;
				}
				@media (min-width: 1024px) {
					display: none;
				}
			}
			h5 {
				text-transform: none;
				font-family: Lora, serif;
				margin: 0 0 12px;
				font-size: 16px;
				color: #000;
				@media (max-width: 1023px) {
					line-height: 1.25;
					margin-bottom: 15px;
					width: 100%;
				}
				@media (min-width: 1024px) {
					line-height: 1;
					color: #fff;
					font-size: 28px;
				}
			}
			p {
				@media (max-width: 1023px) {
					display: none;
				}
				@media (min-width: 1024px) {
					font-size: 16px;
					line-height: 1.25;
					height: auto;
					overflow: hidden;
					font-weight: 400;
					margin-bottom: 12px;
					color: #fff;
				}
			}
			.date {
				font-size: 12px;
				@media (min-width: 1024px) {
					color: #fff;
				}
			}
		}
	}
	img {
		vertical-align: top;
		max-width: 100%;
		@media (max-width: 1023px) {
			display: none;
		}
	}
}
footer {
	box-sizing: border-box;
	@media (max-width: 767px) {
		padding: 0 20px;
	}
	@media (min-width: 768px) {
		border-top: 6px solid $violet;
		padding-top: 48px;
	}
	h3 {
		font-size: 24px;
		font-family: Lora, serif;
		font-weight: 700;
		color: #000;
		margin: 0 0 10px 0;
		@media (min-width: 768px) {
			text-align: center;
			font-size: 28px;
			margin-bottom: 40px;
		}
	}
}
.footer-social {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-webkit-align-items: flex-end;
	-ms-align-items: flex-end;
	align-items: flex-end;
	height: 55px;
	@media (max-width: 767px) {
		position: relative;
		margin-bottom: 30px;
		border-top: 2px solid $violet;
		&:before,
		&:after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			background: url(img/border.gif) repeat-x;
			height: 5px;
			bottom: 0;
		}
	}
	@media (min-width: 768px) {
		margin-bottom: 50px;
	}
}
.footer-social-item {
	display: block;
	text-align: center;
	font-size: 14px;
	color: #94a6aa;
	position: relative;
	padding: 40px 26px 0;
	box-sizing: border-box;
	@media (max-width: 767px) {
		height: 50px;
	}
	@media (min-width: 768px) {
		height: 55px;
		background: url(img/footer-border.gif) 100% 0 no-repeat;
	}
	&:before {
		content: '';
		position: absolute;
		width: 28px;
		height: 24px;
		left: 50%;
		margin-left: -14px;
		@media (max-width: 767px) {
			top: 10px;
		}
		@media (min-width: 768px) {
			top: 0;
		}
	}
	&--fb {
		&:before {
			background: url(img/icon-black-fb.svg) 50% 0 no-repeat;
		}
		&:hover {
			&:before {
				background-image: url(img/icon-fb-hover.svg);
			}
		}
	}
	&--tw {
		&:before {
			background: url(img/icon-black-tw.svg) 50% 50% no-repeat;
		}
		&:hover {
			&:before {
				background-image: url(img/icon-tw-hover.svg);
			}
		}
	}
	&--vk {
		&:before {
			background: url(img/icon-black-vk.svg) 50% 50% no-repeat;
		}
		&:hover {
			&:before {
				background-image: url(img/icon-vk-hover.svg);
			}
		}
	}
	&--tg {
		&:before {
			background: url(img/icon-black-tg.svg) 50% 50% no-repeat;
		}
		&:hover {
			&:before {
				background-image: url(img/icon-tg-hover.svg);
			}
		}
	}
	&--yt {
		&:before {
			background: url(img/icon-black-yt.svg) 50% 50% no-repeat;
		}
		&:hover {
			&:before {
				background-image: url(img/icon-yt-hover.svg);
			}
		}
	}
	span {
		@media (max-width: 767px) {
			display: none;
		}
	}
}
.footer-menu {
	@media (max-width: 1023px) {
		display: none;
	}
	@media (min-width: 1024px) {
		border-top: 2px solid $violet;
		padding: 50px 0 46px;
		ul {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-webkit-flex-flow: row nowrap;
			-ms-flex-flow: row nowrap;
			flex-flow: row nowrap;
			margin: 0;
			padding: 0;
			-webkit-justify-content: center;
			-ms-justify-content: center;
			justify-content: center;
		}
		li {
			list-style: none;
			padding: 0 33px;
			height: 50px;
			box-sizing: border-box;
			padding-top: 16px;
			background: url(img/footer-border.gif) 100% 0 no-repeat;
			font-weight: 700;
			font-size: 14px;
			&:last-child {
				background: none;
			}
		}
		a {
			color: #000;
		}
	}
}
.copyright {
	box-sizing: border-box;
	@media (min-width: 768px) {
		padding: 24px 20px 0;
		border-top: 2px solid $violet;
	}
	@media (min-width: 1024px) {
		border-top: 1px solid #efefef;
	}
}
.copyright-info {
	@media (max-width: 767px) {
		-webkit-flex-flow: row wrap;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;		
	}
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	p, 
	a {
		color: #94a6aa;
		font-size: 14px;
		line-height: 1.3;
	}
	p {
		&:first-child {
			@media (max-width: 767px) {
				margin-bottom: 14px;
			}
		}
	}
}
.extend-border {
	position: relative;
	&:after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		height: 6px;
		bottom: 0;
		background: url(img/border.gif) repeat-x;
		@media (min-width: 768px) and (max-width: 1023px) {
			background: url(img/border-gray.gif) repeat-x;
		}
	}
}
.sidebar-item {
	box-sizing: border-box;
	@extend .extend-border;
	@media (min-width: 768px) and (max-width: 1023px) {
		background-color: #fff;
		&:after {
			background: url(img/border-gray.gif) repeat-x;
		}
	}
	@media (max-width: 767px) {
		margin-bottom: 64px;
	}
	@media (min-width: 768px) {
		margin-bottom: 40px;
		border: 1px solid #efefef;
		border-top: 6px solid $violet;
		padding: 15px 15px;
	}
	&:after {
		bottom: -22px;
	}
	a {
		border-bottom: 1px solid #efefef;
		clear: both;
		/*@media (max-width: 767px) {
			margin-bottom: 14px;
			padding-bottom: 14px;
		}
		@media (min-width: 768px) {
			margin-bottom: 10px;
			padding-bottom: 10px;
		}
		&:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
			border: 0;
		}*/
	}
	a, 
	p {
		color: #000;
		display: block;
		line-height: 1.1;
		overflow: hidden;
		@media (max-width: 767px) {
			font-size: 16px;
		}
		@media (min-width: 768px) {
			font-size: 14px;
		}
	}
	p {
		margin: 0;
	}
	h6 {
		font-weight: 700;
		margin: 0;
		@media (max-width: 767px) {
			font-size: 24px;
			line-height: 1.17;
			position: relative;
			margin-bottom: 30px;
			&:after {
				content: '';
				position: absolute;
				height: 2px;
				background-color: $violet;
				left: 0;
				right: 0;
				bottom: -15px;
			}
		}
		@media (min-width: 768px) {
			font-size: 16px;
			margin-bottom: 17px;
		}
	}
	&--info {
		margin-bottom: 48px;
		&:after {
			bottom: -29px;
		}
		a {
			@media (max-width: 767px) {
				padding: 14px 0;
			}
			@media (min-width: 768px) {
				padding: 5.5px 0;
			}
			img {
				float: left;
				vertical-align: top;
				margin-right: 10px;
			}
			&:last-child {
				border: 0;
			}
		}
		> p {
			text-align: center;
			img {
				margin-bottom: 13px;
			}
		}
	}
	&--short {
		padding: 12px 15px 18px;
		margin-bottom: 45px;
		h6 {
			margin-bottom: 20px;
		}
		a {
			@media (max-width: 767px) {
				padding: 14px 0;
			}
			@media (min-width: 768px) {
				padding: 5.5px 0;
			}
			&:first-child {
				background-color: #f00;
			}
			&:last-child {
				border-bottom: 0;
			}
		}
		&:after {
			bottom: -26px;
		}
	}
	&--iar {
		margin-bottom: 48px;
		a {
			@media (max-width: 767px) {
				padding: 14px 0;
			}
			@media (min-width: 768px) {
				padding: 5.5px 0;
			}
			&:last-child {
				border: 0;
			}
		}
		>p {
			text-align: center;
			margin-bottom: 20px;
		}
		&:after {
			bottom: -28px;
		}
	}
	&--rel {
		p {
			font-size: 14px;
			@media (max-width: 1199px) {
				margin-bottom: 18px;
			}
			@media (min-width: 1200px) {
				margin-bottom: 10px;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
		a {
			color: $violet;
		}
	}
	&--last {
		@media (max-width: 767px) {
			padding: 12px 0;
		}
		@media (min-width: 768px) {
			padding: 12px 15px;
		}
		&:after {
			@media (max-width: 767px) {
				bottom: 0;
			}
		}
		a {
			color: $violet;
		}
		span {
			font-style: italic;
		}
		.last-item {
			@media (max-width: 767px) {
				padding: 10px 0;
			}
			@media (min-width: 768px) {
				padding: 5px 0 8px;
				margin: 1px 0 4px;
			}
			border-bottom: 1px solid #efefef;
			&:last-child {
				border-bottom: 0;
			}
		}
		p {
			margin-bottom: 3px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		.author {
			display: inline;
			color: #000;
			font-style: italic;
		}
	}
	&--rel {
		a {
			border: 0;
			font-size: 14px;
		}
	}
}
.sidebar-item-img {
	text-align: center;
	margin-bottom: 24px;
	padding-bottom: 24px;
	&:last-child {
		@media (max-width: 1199px) {
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
	@extend .extend-border;
	&:last-child {
		&:after,
		&:before {
			content: none;
		}
	}
	&:after {
		bottom: -4px;
	}
	img {
		vertical-align: top;
	}
}
.sidebar-soc {
	@extend .extend-border;
	margin: 0 auto 24px;
	padding-bottom: 24px;
	&>div {
		margin: 0 auto;
	}
	iframe {
		@media (max-width: 480px) {
			width: 280px !important;
		}
	}
}
.sidebar-soc-fb {
	max-width: 280px;
}
.sidebar-item--subscribe {
	padding: 12px 15px 20px;
	margin-bottom: 45px;
	&:after {
		bottom: -27px;
	}
	form {
		position: relative;
	}
	input[type=text],
	input[type=submit] {
		height: 46px;
		box-sizing: border-box;
		&:focus {
			outline: none;
		}
	}
	input[type=text] {
		width: 100%;
		padding: 10px;
		font-family: Georgia, serif;
		font-size: 14px;
		color: #aaaaaa;
		@meia (max-width: 479px) {
			max-width: 186px;
		}
		@media (min-width: 480px) {
//			max-width: 198px;
		}
	}
	input[type=submit] {
		width: 60px;
		background: $violet url(img/str.svg) 50% 50% no-repeat;
		border: 0;
		cursor: pointer;
		position: absolute;
		right: 0;
		top: 0;
		transition: background-color .2s linear;
		&:hover {
			background-color: $violethover;
		}
	}
}
.breadcrumbs {
	width: 100%;
	box-sizing: border-box;
	@media (max-width: 1200px) {
		padding: 0 20px;
	}
}

.thema {
	@media (max-width: 767px) {
		margin-bottom: 48px;
	}
	@media (min-width: 768px) {
		margin-bottom: 28px;
	}
	&__list {
		@media (min-width: 1024px) {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-webkit-flex-flow: row wrap;
			-ms-flex-flow: row wrap;
			flex-flow: row wrap;
			margin-left: -20px;
		}
	}
	&__item {
		width: 100%;
		@media (max-width: 1023px) {
			display: block;
		}
		@media (min-width: 1024px) {
			margin: 0 0 20px 20px;
			width: 30.2%;
		}
		@media (min-width: 1200px) {
			width: 30.9%;
		}
		img {
			@media (max-width: 1023px) {
				display: none;
			}
			@media (min-width: 1024px) {
				vertical-align: top;
				max-width: 100%;
			}
		}
		h5 {
			color: $brown;
			@media (max-width: 767px) {
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				-webkit-order: 3;
				-ms-order: 3;
				order: 3;
				margin: 0 15px 0 0;
				font-size: 10.5px;
			}
			@media (min-width: 768px) {
				font-size: 12px;
				margin: 0 0 10px;
			}
		}
		p {
			font-weight: 700;
			line-height: 1.3;
			overflow: hidden;
			color: #000;
			width: 100%;
			@media (max-width: 767px) {
				font-size: 16px;
				margin-bottom: 17px;
			}
			@media (min-width: 768px) {
				margin-bottom: 9px;
				font-size: 14px;
			}
			@media (min-width: 1024px) {
				height: 72px;
			}
		}
		.date {
			font-size: 12px;
			color: #94a5aa;
			@media (max-width: 767px) {
				-webkit-order: 4;
				-ms-order: 4;
				order: 4;
				line-height: 1;
			}
		}
	}
	&__info {
		box-sizing: border-box;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		@media (max-width: 1023px) {
			padding: 14px 0;
			border-bottom: 1px solid #cacaca;
		}
		@media (min-width: 1024px) {
			padding: 10px;
			box-shadow: inset 0 0 0 1px #efefef;
		}
	}
	h2 {
		@media (max-width: 767px) {
			font-size: 18px;
			position: relative;
			&:after {
				content: '';
				position: absolute;
				left: 0;
				width: 100%;
				bottom: -5px;
				height: 6px;
				background: url(img/border.gif) repeat-x;
			}
		}
		@media (min-width: 768px) {
			padding-bottom: 18px;
		}
	}
}

.breadcrumbs {
	height: 40px;
	font-size: 14px;
	span {
		color: #94a6aa;
		margin-left: 5px;
		padding-left: 15px;
		position: relative;
		&:before {
			content: '»';
			position: absolute;
			left: 0;
			color: #000;
		}
	}
}
.news-dop-info {
	font-size: 14px;
	@media (max-width: 767px) {
		margin-bottom: 14px;
		padding-bottom: 14px;
		border-bottom: 2px solid $violet;
	}
	@media (min-width: 768px) {
		margin-bottom: 28px;
		padding-bottom: 24px;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			height: 6px;
			bottom: 0;
			background: url(img/border.gif) repeat-x;
			@media (min-width: 768px) and (max-width: 1023px) {
				background: url(img/border-gray.gif) repeat-x;
			}
		}
	}
	.date,
	.rubrika,
	.print {
		color: #94a6aa;
	}
	.author,
	.date {
		margin-right: 15px;
	}
	.author {
		color: #000;
		@media (max-width: 1023px) {
			display: block;
			margin-bottom: 10px;
		}
	}
	.date {
		@extend .extend-icon;
		&:before {
			background: url(img/icon-clock.png) 0 0 no-repeat;
		}
	}
	.rubrika {
		@extend .extend-icon;
		&:before {
			background: url(img/icon-rubrika.png) 0 0 no-repeat;
		}
	}
	.print {
		float: right;
		@extend .extend-icon;
		&:before {
			background: url(img/icon-print.svg) 0 0 no-repeat;
		}
		@media (max-width: 767px) {
			display: none;
		}
	}
}
.extend-icon {
	padding-left: 20px;
	position: relative;
	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 2px;
		width: 14px;
		height: 14px;
	}
}
.news-quote {
	background-color: #fef8f2;
	border: 1px solid #f5e9dc;
	padding: 64px 24px 0 24px;
	position: relative;
	margin-top: 48px;
	@media (min-width: 768px) {
		padding: 24px 24px 0 64px;
	}
	&:before {
		content: '“';
		position: absolute;
		font-size: 90px;
		color: $violet;
		line-height: 1;
		top: 12px;
		left: 20px;
	}
}
.tags {
	margin-bottom: 24px;
}
.share {
	border-top: 1px solid #eee9e1;
	border-bottom: 1px solid #eee9e1;
	padding: 20px 0;
	margin-bottom: 50px;
}
.comments-btn {
	span {
		padding: 14px 63px;
		background-color: $violet;
		color: #fff;
		font-size: 16px;
		cursor: pointer;
		display: inline-block;
	}
}
.comments {
	margin: 0;
	h4 {
		position: relative;
		margin-bottom: 48px;
		&:after {
			content: '';
			position: absolute;
			height: 6px;
			bottom: -20px;
			left: 0;
			width: 100%;
			background: url(img/border.gif) repeat-x;
			@media (min-width: 768px) and (max-width: 1023px) {
				background: url(img/border-gray.gif) repeat-x;
			}
		}
		@media (min-width: 768px) {
			font-size: 28px;
		}
	}
}
.form-block {
	border: 1px solid #dcd6e5;
	box-sizing: border-box;
	@media (max-width: 767px) {
		padding: 20px;
	}
	@media (min-width: 768px) {
		padding: 40px;
	}
	fieldset {
		display: none;
	}
	ol {
		padding: 0;
		margin: 0;
	}
	label {
		span {
			font-weight: 700;
			display: block;
			margin-bottom: 8px;
		}
	}
	li {
		list-style: none;
		overflow: hidden;
		@media (max-width: 767px) {
			margin-bottom: 28px;
		}
		@media (min-width: 768px) {
			margin-bottom: 40px;
		}
		input,
		textarea {
			border: 1px solid #cdcfd2;
			width: 100%;
			color: #94a6aa;
			box-sizing: border-box;
			font-family: Georgia;
		}
		input {
			height: 47px;
			padding: 0 14px;
			max-width: 417px;
		}
		textarea {
			resize: none;
			max-width: 780px;
			padding: 14px;
		}
	}
	.reqtxt {
		display: none;
	}
	.textonly {
		margin-bottom: 0;
		font-weight: 700;
		strong {
			color: #000;
		}
	}
	.secinput {
		width: 90px;
		@media (max-width: 767px) {
			display: block;
		}
		@media (min-width: 768px) {
			margin-left: 15px;
		}
	}
	.subscribe-to-comments {
		margin-bottom: 42px;
	}
	.cf-sb {
		margin-bottom: 0;
	}
	.sendbutton {
		color: #fff;
		font-family: Georgia;
		background-color: $violet;
		border: 0;
		cursor: pointer;
		padding: 14px 34px;
		@media (min-width: 768px) {
			padding: 14px 44px;
		}
		&:focus {
			outline: none;
		}
	}
	.subscribe-to-comments {
		input[type=checkbox] {
			display: none;
		}
		label {
			cursor: pointer;
			display: block;
			line-height: 1.45;
			padding-left: 30px;
			position: relative;
			&:before {
				content: '';
				position: absolute;
				left: 0;
				width: 23px;
				height: 23px;
				background: url(img/checkbox.svg) 0 0 no-repeat;
			}
		}
		input[type=checkbox]:checked + label {
			&:before {
				background: url(img/checkbox-active.svg) 0 0 no-repeat;
			}
		}
	}
	&--send-message {
		display: none;
		background-color: #faf7fd;
	}
	&--fix-mistake {
		display: none;
		margin-bottom: 48px;
	}
}
.fix-mistake {
	@media (max-width: 767px) {
		margin: 24px 0 48px;
	}
	@media (min-width: 768px) {
		margin: 24px 0;
	}
	a {
		cursor: pointer;
		color: $violet;
		font-size: 14px;
		font-weight: 700;
		display: inline-block;
	}
}
.commentlist {
	list-style: none;
	padding: 0;
	margin: 0 0 48px;
	li {
		margin-bottom: 24px;
	}
	.author {
		display: block;
		margin-bottom: 24px;
	}
	.comment {
		border-bottom: 1px solid #eee9e1;
	}
	cite {
		font-style: normal;
	}
	.date {
		@extend .extend-icon;
		color: #94a6aa;
		&:before {
			background: url(img/icon-clock.png) 50% 50% no-repeat;
		}
		a {
			color: #94a6aa;
		}
	}
	.respond {
		margin-bottom: 24px;
		a {
			display: block;
			color: #94a6aa;
			@media (max-width: 767px) {
				text-align: left;
			}
			@media (min-width: 768px) {
				text-align: right;
			}
		}
	}
}
.news-slider {
	width: 100%;
	border-bottom: 1px solid #efefef;
	margin: 0 auto 24px;
	@media (max-width: 479px) {
		max-width: 280px;
	}
	@media (min-width: 480px) and (max-width: 767px) {
		width: 440px;
	}
	img {
		max-width: 100%;
	}
}
.news-slider-big {
	position: relative;
	.descr {
		@media (max-width: 767px) {
			display: none;
		}
		@media (min-width: 768px) {
			background-color: rgba(0,0,0,.5);
			padding: 18px;
			position: absolute;
			bottom: 0;
			width: 100%;
			box-sizing: border-box;
		}
		p {
			margin: 0;
			text-align: right;
			color: #fff;
			font-size: 12px;
		}
	}
}
.news-slider-small {
	padding: 24px 76px;
	.slick-prev,
	.slick-next {
		width: 25px;
		height: 25px;
		&:before {
			content: '';
		}
	}
	.slick-prev {
		background: url(img/arrow-left.svg) 0 0 no-repeat;
		left: 20px;
	}
	.slick-next {
		right: 20px;
		background: url(img/arrow-right.svg) 0 0 no-repeat;
	}
	.slick-slide {
		width: 100px;
		margin-right: 20px;
		cursor: pointer;
		opacity: .7;
		&:focus {
			outline: none;
		}
	}
}
.mobile-menu {
	@media (max-width: 1199px) {
		padding: 0;
		margin: 0;
		li {
			list-style: none;
		}
		a {
			text-transform: uppercase;
			color: #fff;
			display: block;
			padding: 15px 24px 15px 20px;
		}
	}
	@media (min-width: 1200px) {
		display: none;
	}
}





.desktop {
	a {
		&:hover {
			text-decoration: underline;
		}
	}
	.menu a {
		&:hover {
			color: $violet;
		}
	}
	.thema__item,
	.news__item,
	.footer-social-item,
	.footer-menu a,
	.menu a {
		&:hover {
			text-decoration: none;
		}
	}
	.sendbutton {
		&:hover {
			background-color: $violethover;
		}
	}
	.fix-mistake a {
		&:hover {
			text-decoration: underline;
		}
	}
	.footer-social-item {
		&:hover {
			color: $violet;
		}
	}
	.footer-menu a {
		&:hover {
			color: $violet;
		}
	}
	.thema__item, 
	.news__item {
		&:hover p {
			color: $violet;
		}
	}
	.news__item{
		&:first-child {
			&:hover p {
				color: #fff;
			}
		}
	}
	.header-lang a {
		&:hover {
			text-decoration: none;
			background-color: $violet;
		}
	}
	.comments-btn span {
		&:hover {
			background-color: $violethover;
		}
	}
	.footer-social-item--tw {
		&:hover {
			&:before {
				background: url(img/icon-tw-hover.svg) 0 0 no-repeat;
			}
		}
	}
	.copyright-info a {
		text-decoration: none;
	}
}